@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Charmonman', cursive;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/img1.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact-box{
	height: 100%;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.message{
	border: solid black 1px;
	margin: 5px 50px 0px 50px;
	padding: 5px;
	background-color: whitesmoke;
}

.message h3 {
	color: #3d7a94;
	padding-bottom: 3px;
	font-family: 'Quicksand', sans-serif;
}

.left{
	background: url("img/cake.jpg") center;
	background-size: cover;
	height: 100%;
}

.right{
	background-color: #97dfc6;
	height: 100%;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
	color: white;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #d5f2e8;
}

.field{
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #d5f2e8;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
/*	background-color: rgba(0, 0, 0, 0.1);
*/
	background-color: #b6e8d7;
}

label{
	top: 0;
	left: 0;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	color: black;
}

select{
	width: 90%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: #d5f2e8;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #78b29e;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #5a8576;
}

.tabDesGateaux {
	display:flex;
	justify-content:center;
}

.me1a, .me2a, .me3a, .me4a, .me5a, .me6a{
	border-radius: 6px;
  box-shadow: 1px 1px 3px black;
  overflow: hidden;
}

@media screen and (max-width: 900px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}